<div>
    <div ng-if="wemgaTrackingCtrl.notTracked">
        <span message-key="wemga.track.warning.label"></span>
    </div>
    <div class="modal-footer profCardButFix" ng-if="wemgaTrackingCtrl.isPublished(wemgaTrackingCtrl.persoObject)">
        <button class="btn btn-primary" type="submit" ng-click="wemgaTrackingCtrl.saveGaPerso()" >{{wemgaTrackingCtrl.buttonLabel}}</button>
    </div>
    <div class="modal-footer profCardButFix" ng-if="!wemgaTrackingCtrl.isPublished(wemgaTrackingCtrl.persoObject)">
        <button title="{{wemgaTrackingCtrl.buttonTooltip}}" class="btn btn-primary" type="submit" ng-click="wemgaTrackingCtrl.saveGaPerso()" disabled="disabled">{{wemgaTrackingCtrl.buttonLabel}}</button>
    </div>
</div>