/*Toolbar*/
.md-toolbar-tools h2 span{
    color:#FFF;
}

.at-separator{
    border: none;
    border-bottom: 1px dashed #E0E0E0;
}

/* File picker */
.file-picker{
    margin-top:32px;
}
li{
    list-style:none
}

/*Mixin management*/
h5{
    margin-bottom: 16px;
}

.explication-text{
    font-size:.8em;
    width: 55%;
    color: rgba(0, 0, 0, 0.52);
}

button.md-button.md-atinternet-theme.md-primary.remove-mixin-button{
    color: #F44336;
}

